/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Global Styles */
.page-container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "Open Sans", sans-serif;
}

.bold {
    font-weight: bold;
    font-size: 1em;
}

address{
    font-size: 0.875em;
}

/* Flex container for Accordion & Career Card */
#team-accordion {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    margin: 50px auto;
}


 /* Mobile view */
@media screen and (max-width: 992px) {
    #team-accordion {
        flex-direction: column;
        width: 75vw; 
    }
}

@media screen and (max-width: 768px) {
    #team-accordion {
        flex-direction: column;
        width: 90vw; 
    }
}

@media screen and (max-width: 576px) {
    #team-accordion {
        flex-direction: column;
        width: 95vw; 
    }
}


/* FOnt Styles and Sized */
h1 {
    font-size: 3.125em;
    font-weight: bolder;
}

h2 {
    font-size: 2.441em;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.953em;
    font-weight: 800;
}

h4 {
    font-size: 1.563em;
    font-weight: 700;
}

h5 {
    font-size: 1.25em;
    font-weight: 600;
}

h6 {
    font-size: 1em;
    font-weight: 500;
}

p , a {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 2%;
}

button {
    font-weight: 300;
    text-decoration: none;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}




