#testimonials-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#testimonials-container h2 {
    font-size: 24px;
    color: #1E2E5F;
    margin-bottom: 40px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    gap: 40px;
    padding-bottom: 20px;
}

.testimonial {
    width: 100%;
    max-width: 600px;
    padding:70px 120px;
    background-color: #1E2E5F;
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

blockquote {
    margin: 0;
    line-height: normal;
}

cite {
    font-style: normal; 
    font-weight: bold; 
    color: #ffffff;
    
}

@media screen and (max-width: 768px) {
    .testimonial {
        padding: 80px;
    }

    blockquote {
        padding: 10px;

    }
   
}
